{% load static %}
<!--
=========================================================
* Soft UI Dashboard PRO - v1.0.4
=========================================================

* Product Page:  https://www.creative-tim.com/product/soft-ui-dashboard-pro
* Copyright 2021 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    Soft UI Dashboard PRO by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <!-- CSS Files -->
  <link id="pagestyle" href="{% get_static_prefix %}css/soft-ui-dashboard.css?v=1.0.4" rel="stylesheet" />
</head>

<body class="error-page">
  <main class="main-content  mt-0">
    <div>
      <section class="min-vh-100 d-flex align-items-center">
        <div class="container">
          <div class="row mt-lg-0 mt-8">
            <div class="col-lg-5 my-auto">
              <h1 class="display-1 text-bolder text-gradient text-warning fadeIn1 fadeInBottom mt-5">Error 500</h1>
              <h2 class="fadeIn3 fadeInBottom opacity-8">Something went wrong</h2>
              <p class="lead opacity-6 fadeIn2 fadeInBottom">We suggest you to go to the homepage while we solve this issue.</p>
              <a href="" type="button" class="btn bg-gradient-warning mt-4 fadeIn2 fadeInBottom">Go to Homepage</a>
            </div>
            <div class="col-lg-7 my-auto">
              <img class="w-100 fadeIn1 fadeInBottom" src="" alt="500-error">
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <!--   Core JS Files   -->
  <script src="{% get_static_prefix %}js/core/popper.min.js"></script>
  <script src="{% get_static_prefix %}js/core/bootstrap.min.js"></script>
  <script src="{% get_static_prefix %}js/plugins/perfect-scrollbar.min.js"></script>
  <script src="{% get_static_prefix %}js/plugins/smooth-scrollbar.min.js"></script>
  <!-- Kanban scripts -->
  <script src="{% get_static_prefix %}js/plugins/dragula/dragula.min.js"></script>
  <script src="{% get_static_prefix %}js/plugins/jkanban/jkanban.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% get_static_prefix %}js/soft-ui-dashboard.min.js?v=1.0.4"></script>
</body>

</html>
